/*second commit optimization*/
@media (max-width: 1050px) {
  .section-2 .right {
    padding: 0;
  }
  .card-medio h2 {
    text-align: center;
  }
}
@media (max-width: 970px) {
  .card-superior p {
    font-size: 18px;
  }
  .dot {
    height: 5px;
    width: 5px;
  }
  .right .card-livre .livre1,
  .livre2,
  .livre3,
  .livre4,
  .livre5 p {
    font-size: 19px;
  }

  .right .card-livre .livre1 img,
  .livre2 img,
  .livre3 img,
  .livre4 img,
  .livre5 img {
    display: none;
  }
}
@media (max-width: 900px) {
  .section-2 .center {
    gap: 50px;
  }
  .right .card-superior {
    padding: 50px;
  }
  .card-superior p {
    text-align: center;
  }
  .card-superior img {
    max-width: 200px;
  }
  .card-ingles img {
    max-width: 200px;
  }
  .card-medio img {
    max-width: 200px;
  }
  .card-livre img {
    max-width: 200px;
  }
}
@media (max-width: 450px) {
  .header-down a {
    font-size: 15px !important;
    padding: 10px;
  }
  .section-1 {
    height: 500px !important;
  }
  .section-1 .center .text-section-1 {
    margin-top: 80px;
  }
  .section-2 .center {
    flex-direction: column;
    align-items: center;
  }
  .section-2 .center .left {
    height: 250px;
    width: 80%;
    margin: 0 auto;
  }
  .right .card-superior {
    padding: 50px 20px;
  }
  .right .card-superior p {
    font-size: 16px;
    width: 70%;
  }
  .right .card-ingles {
    padding: 50px 20px;
  }
  .right .card-ingles p {
    font-size: 16px;
    width: 70%;
    text-align: center;
    margin-bottom: 0;
  }
  .right .card-ingles p:last-of-type {
    margin-bottom: 20px;
  }
  .right .card-medio {
    padding: 50px 20px;
  }
  .right .card-medio h2 {
    font-size: 40px;
  }
  .right .card-medio p {
    font-size: 16px;
    width: 70%;
    text-align: center;
    margin-bottom: 0;
  }
}
